<app-nav-bar [opened]="menuOpened" (menuToggle)="setMenuState($event)"></app-nav-bar>
<div class="content-fluid">
  <app-full-banner></app-full-banner>
  <app-list-titles title="Adicionados Recentemente" [list]="listTitles"></app-list-titles>
  <app-list-titles title="Em alta" [list]="listTitles"></app-list-titles>
  <app-list-titles title="Continuar assistindo como Bruno" [list]="listTitles"></app-list-titles>
</div>
<app-footer></app-footer>

<div class="backdrop" (click)="closeMenu()"*ngIf="menuOpened"></div>
<!-- Se menuOpened for true, esse componente é mostrado
  (Essa div escurece o background quando o menu é aberto);
  Por isso existe um evento no component nav-bar;
  Entendendo o component da nav bar: menuToggle é um output que foi criando
  e que emite um evento booleano, fica no nav-barcomponent
  (Output porque nav-barcomponent é filho de appcomponent);
  Lá no nav-barcomponent quando o icone do menu é clicado, aciona um método
  que está ligado a uma classe do css que faz com que o menu abra 'sidebar-open' (Por isso tem o Ngclass lá)
  Quando o menu é aberto, é emitido um evento booleano que é exportado para o component pai (appcomponent)
  pela variavel menuToggle, quando esse evento é recebido pelo pai o metódo setMenuState é acionado,
  este método altera o estado da variavel menuOpened que está ligada a uma div e que possui um NgIf
  que quando verdadeiro faz com que essa div seja mostrada, a div por sua vez faz escurecer o background.
 -->
